<div id="makeReservation" class="step1" style="visibility: inherit; opacity: 1;">  
	<div id="reservation-header" style="transform: matrix(1, 0, 0, 1, 0, 0);"><div class="step-header cf">
		<div class="step-date cf">
			<div class="left">
				<div class="post-selection cf" style="opacity: 1; display: block; transform: matrix(1, 0, 0, 1, 0, 0);">
					<div class="selected-date-small">
						<div class="calendar-icon"></div>
						<a href="javascript:history.back()">
							<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
					</div>
				</div>
				<div class="selected-text title" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
					<div class="calendar-icon"></div>
					<div class="rooftop-icon"></div><strong><span>Pick your Province/territory Please</span></strong>
				</div>
			</div>
	
		</div>
	</div>
	</div>
 <div id="toppage" class="topclass">
<figure class="responsive">
<img src="assets/images/canbanner.jpg" alt="top image" />
</figure>

 </div>
	<section id="cremlino" class="carousel slide tab-slide fullscreen">
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
		  <div class="item active">
		 
		
		 <img class="visible-xs visible-sm" src="assets/images/antiqu1500.png" alt="Il Cremlino" width="1137" height="600">
		 <img class="visible-md visible-lg" src="assets/images/antiqu1400.png" alt="Il Cremlino" width="1400" height="729">
		
		  <div class="tab-slide-caption">
		  <div class="container">
		  <div class="row">
		  <div class="col-md-6">
		  <div class="annullaskew">
			<h3>Canada's best auctions</h3>
			  <ul class="canbest">
			  <table class="table table-condensed">
					<tr>
					<td><li><a [routerLink]="['/products']">Ontario</a></li></td>
					<td> <li><a [routerLink]="['/products']">Quebec</a></li></td>
					</tr>
					<tr>
					<td><li><a [routerLink]="['/products']">Nova Scotia</a></li></td>
					<td><li><a [routerLink]="['/products']">New Brunswick</a></li></td>
					</tr>
					<tr>
							<td> <li><a [routerLink]="['/products']">Manitoba</a></li></td>
							<td><li><a [routerLink]="['/products']">British Colombia</a></li></td>
							</tr>
							<tr>
									<td> <li><a [routerLink]="['/products']">PEI</a></li></td>
									<td> <li><a [routerLink]="['/products']">Saskatchewan</a></li></td>
									
									</tr>
									<tr>
											<td> <li><a [routerLink]="['/products']">Alberta</a></li></td>	
										<td> <li><a [routerLink]="['/products']">Newfoundland and Labrador</a></li></td>
											
											</tr>
											<tr>
													<td> <li><a [routerLink]="['/products']">NW Territories</a></li></td>	
													<td><li><a [routerLink]="['/products']">Yukon</a></li></td>
													</tr>
													<tr>
															<td> <li><a [routerLink]="['/products']">Nunavut</a></li></td>
															<td></td>
															
															</tr>


					 </table>
					 </ul>
					 <img class="cremlino-quadro hidden-xs hidden-sm" data-bottom-top="opacity: 0; top: 150px;" data-center-top="opacity: 1; top:0" src="assets/images/canflag.png" alt="Tessuti e tendaggi per il Cremlino" width="400" height="470" style="">
		
		  </div>
		  </div>
		  </div>
		  </div>
		  </div>
		  </div>
		</div>
		</section>
		<section class="mid-content">
			<div class="container-fluid">
			<div class="row">
				<div class="category2  col-lg-12">
						
								<div class="category-container">
							
								<h5 class="canfeat">Canada Featured Auctions</h5>
							<!--/.category-content -->
								</div><!--/.category-container -->
			</div><!--/.category-->
			</div>
			<section>
				<div class="container">
					
					
					  <div class="row">
								
						<div class="col-sm-3">
							<article class="auction-list news">		   
						   <header class="auction-header">
						   <time class="published" datetime="2014-07-01T10:20:11+00:00">12<span class="mese">Apr 2018 </span></time>
						   <h4><a href="http://showmeauctions.com/">
						   Husqee.com		
						   </a></h4> <span class="auciontype">
							   On-Line</span>
						   </header>		   
							 
							<div class="art-links">
									  <a href="http://showmeauctiosn.com/">
										
										<span class="icon-open icon"></span>
										<span class="link-label">Read more</span>
										
									  </a>   
							 </div>
							
							
							
							<img width="360" height="180" src="assets/images/antpic1500b.jpg" class="img-responsive visible-xs wp-post-image" alt="Featured Auction" srcset="assets/images/ant360x180.jpg 360w, assets/images/ant1140x570.jpg 1140w" sizes="(max-width: 360px) 100vw, 360px"><img width="360" height="360" src="assets/images/361.png" class="img-responsive hidden-xs wp-post-image" alt="Featured Auction" srcset="assets/images/361.png" sizes="(max-width: 360px) 100vw, 360px"> 	 
								
							 
						   </article>		   			
						 </div>			
								 
							   <div class="col-sm-3">
							<article class="auction-list news">		   
						   <header class="auction-header">
						   <time class="published" datetime="2014-02-20T12:59:36+00:00">15<span class="mese">Feb 2018</span></time>
						   <h4><a href="http://showmeauction.com/">
						   Husqee.com		
						   </a></h4> <span class="auciontype">
							   On-Line</span>
						   </header>		   
							 
							<div class="art-links">
									  <a href="http://showmeauction.com/">
										
										<span class="icon-open icon"></span>
										<span class="link-label">Read more</span>
										
									  </a>   
							 </div>
							
							
							
							<img width="360" height="180" src="assets/images/antpic1500b.jpg" class="img-responsive visible-xs wp-post-image" alt="Featured Auction" srcset="assets/images/anti360x180.jpg 360w, assets/images/anti1140x570.jpg 1140w" sizes="(max-width: 360px) 100vw, 360px"><img width="360" height="360" src="assets/images/362.png" class="img-responsive hidden-xs wp-post-image" alt="Featued Auction" srcset="assets/images/362.png" sizes="(max-width: 360px) 100vw, 360px"> 	 
								
							 
						   </article>		   			
						 </div>			
								 
							   <div class="col-sm-3">
							<article class="auction-list news">		   
						   <header class="auction-header">
						   <time class="published" datetime="2014-01-20T10:12:05+00:00">08<span class="mese">Mar 2018 </span></time>
						   <h4><a href="http://showmeauction.com/">
						   Husqee.com 	
						   </a></h4><span class="auciontype">
							   On-Line</span>
						   </header>		   
							 
							<div class="art-links">
									  <a href="http://showmeauction.com/">
										
										<span class="icon-open icon"></span>
										<span class="link-label">Read more</span>
										
									  </a>   
							 </div>
							
							
							
							<img width="360" height="180" src="assets/images/antpic1500b.jpg" class="img-responsive visible-xs wp-post-image" alt="ShowMeAuctions.com" srcset="assets/images/antic360x180.jpg 360w, assets/images/antic1140x570.jpg 1140w" sizes="(max-width: 360px) 100vw, 360px"><img width="360" height="360" src="assets/images/363.png" class="img-responsive hidden-xs wp-post-image" alt="ShowMeAuctions.com" srcset="assets/images/363.png" sizes="(max-width: 360px) 100vw, 360px"> 	 
								
							 
						   </article>		   			
						 </div>
						 <div class="col-sm-3">
						   <article class="auction-list news">		   
						  <header class="auction-header">
						  <time class="published" datetime="2014-07-01T10:20:11+00:00">12<span class="mese">Apr 2018 </span></time>
						  <h4><a href="http://showmeauctions.com/">
						  Husqee.com		
						  </a></h4> <span class="auciontype">
							  On-Line</span>
						  </header>		   
							
						   <div class="art-links">
									 <a href="http://showmeauctiosn.com/">
									   
									   <span class="icon-open icon"></span>
									   <span class="link-label">Read more</span>
									   
									 </a>   
							</div>
						   
						   
						   
						   <img width="360" height="180" src="assets/images/antpic1500b.jpg" class="img-responsive visible-xs wp-post-image" alt="Featured Auction" srcset="assets/images/ant360x180.jpg 360w, assets/images/ant1140x570.jpg 1140w" sizes="(max-width: 360px) 100vw, 360px">
						   <img width="360" height="360" src="assets/images/361.png" class="img-responsive hidden-xs wp-post-image" alt="Featured Auction" srcset="assets/images/361.png" sizes="(max-width: 360px) 100vw, 360px"> 	 
							   
							
						  </article>		   			
						</div>					
							   </div>
					</div>
				
				
				</section><!--/.row-->
				<div class="category-container">
								
								<a href="javascript:history.back()">
								<h5 class="canfeat">Back to Home</h5>
								</a>

								<!--/.category-content -->
									</div>
						
								</div><!--/.container-fluid -->
		</section><!--/.mid-content -->

		</div>
		

	

	
	