<div id="makeReservation" class="step1" style="visibility: inherit; opacity: 1;">  
  <div id="reservation-header" style="transform: matrix(1, 0, 0, 1, 0, 0);"><div class="step-header cf">
    <div class="step-date cf">
      <div class="left">
        <div class="post-selection cf" style="opacity: 1; display: block; transform: matrix(1, 0, 0, 1, 0, 0);">
          <div class="selected-date-small">
            <div class="calendar-icon"></div>
            <a href="javascript:history.back()">
              <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
          </div>
        </div>
        <div class="selected-text title" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
          <div class="calendar-icon"></div>
          <div class="rooftop-icon"></div><strong><span>Pick your State Please</span></strong>
        </div>
      </div>
  
    </div>
  </div>
  </div>
 <div id="toppage" class="topclass">
<figure class="responsive">
<img src="assets/images/usabanner.jpg" alt="top image" />
</figure>

 </div>
 <section id="collegamenti" class="carousel slide tab-slide" data-ride="carousel">
    <!-- Indicators -->
  
  <div class="container-pills">
  <div class="container ">
  <ol class="nav nav-pills carousel-indicators">
    <li class="active" data-target="#collegamenti" data-slide-to="0"><a href="http://www.showmeauctions.com/#">West Coast</a></li>
    <li data-target="#collegamenti" data-slide-to="1" class=""><a href="http://www.showmeauctions.com/#">Central States</a></li>
    <li data-target="#collegamenti" data-slide-to="2" ><a href="http://www.showmeauctions.com/#">East Coast</a></li>
  </ol>
  </div>
  </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
  
  
     <img class="visible-xs visible-sm" src="assets/images/antpic1500b.jpg" alt="West Coast" width="1137" height="600">
     <img class="visible-md visible-lg" src="assets/images/antpic1400b.jpg" alt="West Coast" width="1400" height="729">
  
        <div class="tab-slide-caption">
        <div class="container">
        <div class="row">
        <div class="col-md-6">
        <div class="annullaskew">
          <h3>West Coast Auctions</h3>
          <ul class="canbest">
          <table class="table table-condensed">
              <tr>
              <td><li><a [routerLink]="['/customers']">California</a></li></td>
              <td><li><a [routerLink]="['/customers']">Oregon</a></li></td>
              </tr>
              <tr>
              <td><li><a [routerLink]="['/customers']">Washington</a></li></td>
              <td><li><a [routerLink]="['/customers']">Hawaii</a></li></td>
              </tr>
              <tr>
                  <td><li><a [routerLink]="['/customers']">Alaska</a></li></td>
                  <td><li><a [routerLink]="['/customers']">Arizona</a></li></td>
                  </tr>
                  <tr>
                      <td><li><a [routerLink]="['/customers']">Nevada</a></li></td>
                      <td><li><a [routerLink]="['/customers']">Idaho</a></li></td>
                      
                      </tr>
                      <tr>
                          <td><li><a [routerLink]="['/customers']">Montana</a></li></td>	
                        <td><li><a [routerLink]="['/customers']">Wyoming</a></li></td>
                          
                          </tr>
                          <tr>
                              <td><li><a [routerLink]="['/customers']">Utah</a></li></td>	
                              <td><li><a [routerLink]="['/customers']">Colorado</a></li></td>
                              </tr>
                              <tr>
                                  <td><li><a [routerLink]="['/customers']">New Mexico</a></li></td>
                                  <td></td>
                                  
                                  </tr>


               </table>
              </ul>
        <img class="cremlino-quadro hidden-xs hidden-sm" data-bottom-top="opacity: 0; top: 150px;" data-center-top="opacity: 1; top:0" src="assets/images/usflag.jpg" alt="USA Auctions" width="400" height="470">
        
        </div>
        </div>
        </div>
        </div>
        </div>
      </div>
  
  
      <div class="item">
  
     <img class="visible-xs visible-sm" src="assets/images/antpic1500b.jpg" alt="Central" width="1137" height="600">
     <img class="visible-md visible-lg" src="assets/images/antpic1400b.jpg" alt="Central" width="1400" height="729">
  
  
        <div class="tab-slide-caption">
         <div class="container">
          <div class="row">
        <div class="col-md-6">
        <div class="annullaskew">
  
          <h3>Central States Auctions</h3>
          <ul class="canbest">
          <table class="table table-condensed">
              <tr>
              <td><li><a [routerLink]="['/customers']">Iowa</a></li></td>
              <td><li><a [routerLink]="['/customers']">Kansas</a></li></td>
              </tr>
              <tr>
              <td><li><a [routerLink]="['/customers']">Minnesota</a></li></td>
              <td><li><a [routerLink]="['/customers']">Missouri</a></li></td>
              </tr>
              <tr>
                  <td><li><a [routerLink]="['/customers']">Nebraska</a></li></td>
                  <td><li><a [routerLink]="['/customers']">North Dakota</a></li></td>
                  </tr>
                  <tr>
                      <td><li><a [routerLink]="['/customers']">South Dakota</a></li></td>
                      <td><li><a [routerLink]="['/customers']">Illinois</a></li></td>
                      
                      </tr>
                      <tr>
                          <td><li><a [routerLink]="['/customers']">Indiana</a></li></td>	
                        <td><li><a [routerLink]="['/customers']">Michigan</a></li></td>
                          
                          </tr>
                          <tr>
                              <td><li><a [routerLink]="['/customers']">Ohio</a></li></td>	
                              <td></td>
                              </tr>
                              
               </table>
          </ul>		
        <img class="cremlino-quadro hidden-xs hidden-sm" data-bottom-top="opacity: 0; top: 150px;" data-center-top="opacity: 1; top:0" src="assets/images/usflag.jpg" alt="usa" width="400" height="470">
        
         </div>
        </div>
          </div>
        </div>
        </div>
      </div>
  
      <div class="item">
  
     <img class="visible-xs visible-sm" src="assets/images/antpic1500b.jpg" alt="East Coast" width="1137" height="600">
     <img class="visible-md visible-lg" src="assets/images/antpic1400b.jpg" alt="East Coast" width="1400" height="729">
  
  
        <div class="tab-slide-caption">
         <div class="container">
          <div class="row">
        <div class="col-md-6">
              <div class="annullaskew">
  
                <h3>East Coast Auction</h3>
                <ul class="canbest">
                <table class="table table-condensed">
                <tr>
                <td><li><a [routerLink]="['/customers']">Maine</a></li></td>
                <td><li><a [routerLink]="['/customers']">New Hampshire</a></li></td>
                </tr>
                <tr>
                <td><li><a [routerLink]="['/customers']">Massachusetts</a></li></td>
                <td><li><a [routerLink]="['/customers']">Rhode Island</a></li></td>
                </tr>
                <tr>
                    <td><li><a [routerLink]="['/customers']">Connecticut</a></li></td>
                    <td><li><a [routerLink]="['/customers']">New York</a></li></td>
                    </tr>
                    <tr>
                        <td><li><a [routerLink]="['/customers']">New Jersey</a></li></td>
                        <td><li><a [routerLink]="['/customers']">Delaware</a></li></td>
                        
                        </tr>
                        <tr>
                            <td><li><a [routerLink]="['/customers']">Maryland</a></li></td>	
                          <td><li><a [routerLink]="['/customers']">Virginia</a></li></td>
                            
                            </tr>
                            <tr>
                                <td><li><a [routerLink]="['/customers']">North Carolina</a></li></td>	
                                <td><li><a [routerLink]="['/customers']">South Carolinas</a></li></td>
                                </tr>
                                <tr>
                                    <td><li><a [routerLink]="['/customers']">Georgia</a></li></td>
                                    <td><li><a [routerLink]="['/customers']">Florida</a></li></td>
                                    
                                    </tr>


                 </table>
                </ul>
                <img class="cremlino-quadro hidden-xs hidden-sm" data-bottom-top="opacity: 0; top: 150px;" data-center-top="opacity: 1; top:0" src="assets/images/usflag.jpg" alt="USA" width="400" height="470">
        </div>
        </div>
          </div>
        </div>
        </div>
        
      </div>
  
    </div>
  
  
  </section>
    <section class="mid-content">
      <div class="container-fluid">
      <div class="row">
        <div class="category2  col-lg-12">
            
                <div class="category-container">
              
                <h5 class="usafeat">USA Featured Auctions</h5>
              <!--/.category-content -->
                </div><!--/.category-container -->
      </div><!--/.category-->
      </div>
      <section>
        <div class="container">
          
          
            <div class="row">
                
            <div class="col-sm-3">
              <article class="auction-list news">		   
               <header class="auction-header">
               <time class="published" datetime="2014-07-01T10:20:11+00:00">12<span class="mese">Apr 2018 </span></time>
               <h4><a href="http://showmeauctions.com/">
               Husqee.com		
               </a></h4> <span class="auciontype">
                 On-Line</span>
               </header>		   
               
              <div class="art-links">
                    <a href="http://showmeauctiosn.com/">
                    
                    <span class="icon-open icon"></span>
                    <span class="link-label">Read more</span>
                    
                    </a>   
               </div>
              
              
              
              <img width="360" height="180" src="assets/images/antpic1500b.jpg" class="img-responsive visible-xs wp-post-image" alt="Featured Auction" srcset="assets/images/ant360x180.jpg 360w, assets/images/ant1140x570.jpg 1140w" sizes="(max-width: 360px) 100vw, 360px"><img width="360" height="360" src="assets/images/361.png" class="img-responsive hidden-xs wp-post-image" alt="Featured Auction" srcset="assets/images/361.png" sizes="(max-width: 360px) 100vw, 360px"> 	 
                
               
               </article>		   			
             </div>			
                 
                 <div class="col-sm-3">
              <article class="auction-list news">		   
               <header class="auction-header">
               <time class="published" datetime="2014-02-20T12:59:36+00:00">15<span class="mese">Feb 2018</span></time>
               <h4><a href="http://showmeauction.com/">
               Husqee.com		
               </a></h4> <span class="auciontype">
                 On-Line</span>
               </header>		   
               
              <div class="art-links">
                    <a href="http://showmeauction.com/">
                    
                    <span class="icon-open icon"></span>
                    <span class="link-label">Read more</span>
                    
                    </a>   
               </div>
              
              
              
              <img width="360" height="180" src="assets/images/antpic1500b.jpg" class="img-responsive visible-xs wp-post-image" alt="Featured Auction" srcset="assets/images/anti360x180.jpg 360w, assets/images/anti1140x570.jpg 1140w" sizes="(max-width: 360px) 100vw, 360px"><img width="360" height="360" src="assets/images/362.png" class="img-responsive hidden-xs wp-post-image" alt="Featued Auction" srcset="assets/images/362.png" sizes="(max-width: 360px) 100vw, 360px"> 	 
                
               
               </article>		   			
             </div>			
                 
                 <div class="col-sm-3">
              <article class="auction-list news">		   
               <header class="auction-header">
               <time class="published" datetime="2014-01-20T10:12:05+00:00">08<span class="mese">Mar 2018 </span></time>
               <h4><a href="http://showmeauction.com/">
               Husqee.com 	
               </a></h4><span class="auciontype">
                 On-Line</span>
               </header>		   
               
              <div class="art-links">
                    <a href="http://showmeauction.com/">
                    
                    <span class="icon-open icon"></span>
                    <span class="link-label">Read more</span>
                    
                    </a>   
               </div>
              
              
              
              <img width="360" height="180" src="assets/images/antpic1500b.jpg" class="img-responsive visible-xs wp-post-image" alt="ShowMeAuctions.com" srcset="assets/images/antic360x180.jpg 360w, assets/images/antic1140x570.jpg 1140w" sizes="(max-width: 360px) 100vw, 360px"><img width="360" height="360" src="assets/images/363.png" class="img-responsive hidden-xs wp-post-image" alt="ShowMeAuctions.com" srcset="assets/images/363.png" sizes="(max-width: 360px) 100vw, 360px"> 	 
                
               
               </article>		   			
             </div>
             <div class="col-sm-3">
               <article class="auction-list news">		   
              <header class="auction-header">
              <time class="published" datetime="2014-07-01T10:20:11+00:00">12<span class="mese">Apr 2018 </span></time>
              <h4><a href="http://showmeauctions.com/">
              Husqee.com		
              </a></h4> <span class="auciontype">
                On-Line</span>
              </header>		   
              
               <div class="art-links">
                   <a href="http://showmeauctiosn.com/">
                     
                     <span class="icon-open icon"></span>
                     <span class="link-label">Read more</span>
                     
                   </a>   
              </div>
               
               
               
               <img width="360" height="180" src="assets/images/antpic1500b.jpg" class="img-responsive visible-xs wp-post-image" alt="Featured Auction" srcset="assets/images/ant360x180.jpg 360w, assets/images/ant1140x570.jpg 1140w" sizes="(max-width: 360px) 100vw, 360px"><img width="360" height="360" src="assets/images/361.png" class="img-responsive hidden-xs wp-post-image" alt="Featured Auction" srcset="assets/images/361.png" sizes="(max-width: 360px) 100vw, 360px"> 	 
                 
              
              </article>		   			
            </div>					
                 </div>
          </div>
        
        
        </section><!--/.row-->
        <div class="category-container">
                
                <a href="javascript:history.back()">
                <h5 class="usafeat">Back to Home</h5>
                </a>
                <!--/.category-content -->
                  </div>
            
                </div><!--/.container-fluid -->
    </section><!--/.mid-content -->

    </div>
    

  
