<div class="wrap" role="document">
  <main id="contenuto" class="main" role="main" style="height: auto; display: block;">
    
<section id="intro" class="page-header-video fullscreen" data-0="background-position:center 0px"
 data-end="background-position: center -600px" style="background-image: url(assets/images/smahome.jpg);">

<div class="centra" data-0="opacity:1" data-500="opacity:0">

<h1 class="speciale animated fadeIn delay08">Show Me Auctions.com<br><span style="font-size:1.3em">Your Gateway To The Auction World.</span></h1>
  <p class="aucdirect animated fadeIn delay12" data-0="top:0px;" data-500="top:100px">Your Only Auction Directory</p>

<br>
<a href="home#worldofauction" class="lead-link"> </a>

</div>

</section>
<div class="container-fluid">
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="social-block">
<a href="https://www.instagram.com/husqee_dot_com/" target="_blank" class="social touchme">
  <div class="social-content">
        <div class="socialicon">
            <span class="icon-instagram"></span>
              <span class="icon-instagram second"></span>
          </div><!--/.socialicon-->
        <h5>See Instagram</h5>
        
    </div><!--/.social-content-->
</a><!--/.social-->
</div>

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="social-block">
<a href="https://www.facebook.com/Husqeecom-693406797450591/" target="_blank" class="social touchme">
  <div class="social-content">
        <div class="socialicon">
            <span class="icon-facebook"></span>
              <span class="icon-facebook second"></span>
          </div><!--/.socialicon-->
        <h5>Like Facebook</h5>
        
    </div><!--/.social-content-->
</a><!--/.social-->
</div>

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="social-block">
<a href="http://www.husqee.com" target="_blank" class="social touchme">
  <div class="social-content">
        <div class="socialicon">
            <span class="icon-twitter"></span>
              <span class="icon-twitter second"></span>
          </div><!--/.socialicon-->
        <h5>Follow Twitter</h5>
        
    </div><!--/.social-content-->
</a><!--/.social-->
</div>

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"id="social-block">
<a href="http://www.husqee.com" target="_blank" class="social touchme">
  <div class="social-content">
        <div class="socialicon">
            <span class="icon-pinterest"></span>
              <span class="icon-pinterest second"></span>
          </div><!--/.socialicon-->
        <h5>Follow Pinterest</h5>
        
    </div><!--/.social-content-->
</a><!--/.social-->			
</div>



</div>
</div>

<section id="worldofauction" class="slide  tab-slide fullscreen">
<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">


<img class="visible-xs visible-sm" src="assets/images/antpic1500b.jpg" alt="ShowMeAuctions.com" width="1137" height="600">
<img class="visible-md visible-lg" src="assets/images/antpic1400b.jpg" alt="ShowMeAuctions.com" width="1400" height="729">

  <div class="tab-slide-caption">
  <div class="container">
  <div class="row">
  <div class="col-md-6">
  <div class="annullaskew">
    <h3 class="nome">World Of Auctions</h3>
  <p class="aucworld"><em>ShowMeAuctions.com</em> is your GATEWAY to the world of auctions.
As an auction directory, we dedicated ourself to provide you with the best auctions all over America.
From Toronto, Ontario in Canada to Seattle, Washington in USA, we (ShowMeAuctions.com) cover all the best auctions Coast to Coast.
If you are an auctioneer and not seeing your auction listed in our directory, simply post your auction.</p>
  <a href="products/0" class="btn btn-primary openModal">Post your Auction</a>

  </div>
  </div>
  </div>
  </div>
  </div>
</div>
</div>
</section>
<section id="bottom-content">
<div class="container-fluid">
  <div class="row">
      <div class="category col-xs-12 col-sm-6 col-md-4 col-lg-4 hidden-xs">
        <img class="strech" src="assets/images/wh-box.png" alt="ShowMeAuctions.com">	
              <div class="category-container">
              <h5>Check all the auctions </h5><hr class="canusa">
              <h4>All Over America</h4>
                </div><!--/.category-container -->
      </div><!--/.category-->
        
        
  <div class="hover product col-xs-12 col-sm-6 col-md-4 col-lg-4 " id="canadant"> 
        
          <a [routerLink]="['/whysell']" class="canadant">
            <div class="hover-container touchme">
              <div class="hover-content">
                <h2>Canada Auctions</h2>
               </div><!--/.hover-content -->
            </div><!--/.hover-container -->
          </a><!--/a -->
      </div><!--/.hover--><div class="hover product col-xs-12 col-sm-6 col-md-4 col-lg-4" id="usant">
        
          <a [routerLink]="['/nextsales']" class="usant">
            <div class="hover-container touchme">
              <div class="hover-content">
                <h2>U.S.A Auctions</h2>
                   </div><!--/.hover-content -->
            </div><!--/.hover-container -->
          </a><!--/a -->
      </div><!--/.hover-->
    </div><!-- /.row -->
</div><!-- /.container-fluid -->
</section><!-- /bottom-content -->

  <section id="collegamenti" class="carousel slide tab-slide" data-ride="carousel">
      <!-- Indicators -->
  
  <div class="container-pills">
  <div class="container ">
  <ol class="nav nav-pills carousel-indicators">
      <li class="active" data-target="#collegamenti" data-slide-to="0"><a href="https://www.showmeauctions.com/#">West Coast</a></li>
      <li data-target="#collegamenti" data-slide-to="1" class=""><a href="https://www.showmeauctions.com/#">Central States</a></li>
      <li data-target="#collegamenti" data-slide-to="2" ><a href="https://www.showmeauctions.com/#">East Coast</a></li>
  </ol>
  </div>
  </div>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
          <div class="item active">
  
  
       <img class="visible-xs visible-sm" src="assets/images/antpic1500b.jpg" alt="West Coast" width="1137" height="600">
       <img class="visible-md visible-lg" src="assets/images/antpic1400b.jpg" alt="West Coast" width="1400" height="729">
  
              <div class="tab-slide-caption">
              <div class="container">
              <div class="row">
              <div class="col-md-6">
              <div class="annullaskew">
                  <h3>U.S West Coast Auctions</h3>
                  <ul class="canbest">
                  <table class="table table-condensed">
                          <tr>
                          <td><li><a [routerLink]="['/products']">California</a></li></td>
                          <td><li><a [routerLink]="['/products']">Oregon</a></li></td>
                          </tr>
                          <tr>
                          <td><li><a [routerLink]="['/products']">Washington</a></li></td>
                          <td><li><a [routerLink]="['/products']">Hawaii</a></li></td>
                          </tr>
                          <tr>
                                  <td><li><a [routerLink]="['/products']">Alaska</a></li></td>
                                  <td><li><a [routerLink]="['/products']">Arizona</a></li></td>
                                  </tr>
                                  <tr>
                                          <td><li><a [routerLink]="['/products']">Nevada</a></li></td>
                                          <td><li><a [routerLink]="['/products']">Idaho</a></li></td>
                                          
                                          </tr>
                                          <tr>
                                                  <td><li><a [routerLink]="['/products']">Montana</a></li></td>	
                                              <td><li><a [routerLink]="['/products']">Wyoming</a></li></td>
                                                  
                                                  </tr>
                                                  <tr>
                                                          <td><li><a [routerLink]="['/products']">Utah</a></li></td>	
                                                          <td><li><a [routerLink]="['/products']">Colorado</a></li></td>
                                                          </tr>
                                                          <tr>
                                                                  <td><li><a [routerLink]="['/products']">New Mexico</a></li></td>
                                                                  <td></td>
                                                                  
                                                                  </tr>


                           </table>
                          </ul>
              <img class="cremlino-quadro hidden-xs hidden-sm" data-bottom-top="opacity: 0; top: 150px;" data-center-top="opacity: 1; top:0" src="assets/images/usflag.jpg" alt="USA Auctions" width="400" height="470">
              
              </div>
              </div>
              </div>
              </div>
              </div>
          </div>
  
  
          <div class="item">
  
       <img class="visible-xs visible-sm" src="assets/images/antpic1500b.jpg" alt="Central" width="1137" height="600">
       <img class="visible-md visible-lg" src="assets/images/antpic1400b.jpg" alt="Central" width="1400" height="729">
  
  
              <div class="tab-slide-caption">
               <div class="container">
                  <div class="row">
              <div class="col-md-6">
              <div class="annullaskew">
  
                  <h3>U.S Central States Auctions</h3>
                  <ul class="canbest">
                  <table class="table table-condensed">
                          <tr>
                          <td><li><a [routerLink]="['/products']">Iowa</a></li></td>
                          <td><li><a [routerLink]="['/products']">Kansas</a></li></td>
                          </tr>
                          <tr>
                          <td><li><a [routerLink]="['/products']">Minnesota</a></li></td>
                          <td><li><a [routerLink]="['/products']">Missouri</a></li></td>
                          </tr>
                          <tr>
                                  <td><li><a [routerLink]="['/products']">Nebraska</a></li></td>
                                  <td><li><a [routerLink]="['/products']">North Dakota</a></li></td>
                                  </tr>
                                  <tr>
                                          <td><li><a [routerLink]="['/products']">South Dakota</a></li></td>
                                          <td><li><a [routerLink]="['/products']">Illinois</a></li></td>
                                          
                                          </tr>
                                          <tr>
                                                  <td><li><a [routerLink]="['/products']">Indiana</a></li></td>	
                                              <td><li><a [routerLink]="['/products']">Michigan</a></li></td>
                                                  
                                                  </tr>
                                                  <tr>
                                                          <td><li><a [routerLink]="['/products']">Ohio</a></li></td>	
                                                          <td></td>
                                                          </tr>
                                                          
                           </table>
                  </ul>		
              <img class="cremlino-quadro hidden-xs hidden-sm" data-bottom-top="opacity: 0; top: 150px;" data-center-top="opacity: 1; top:0" src="assets/images/usflag.jpg" alt="usa" width="400" height="470">
              
               </div>
              </div>
                  </div>
              </div>
              </div>
          </div>
  
          <div class="item">
  
       <img class="visible-xs visible-sm" src="assets/images/antpic1500b.jpg" alt="East Coast" width="1137" height="600">
       <img class="visible-md visible-lg" src="assets/images/antpic1400b.jpg" alt="East Coast" width="1400" height="729">
  
  
              <div class="tab-slide-caption">
               <div class="container">
                  <div class="row">
              <div class="col-md-6">
                          <div class="annullaskew">
  
                              <h3>U.S East Coast Auction</h3>
                              <ul class="canbest">
                              <table class="table table-condensed">
                              <tr>
                              <td><li><a [routerLink]="['/products']">Maine</a></li></td>
                              <td><li><a [routerLink]="['/products']">New Hampshire</a></li></td>
                              </tr>
                              <tr>
                              <td><li><a [routerLink]="['/products']">Massachusetts</a></li></td>
                              <td><li><a [routerLink]="['/products']">Rhode Island</a></li></td>
                              </tr>
                              <tr>
                                      <td><li><a [routerLink]="['/products']">Connecticut</a></li></td>
                                      <td><li><a [routerLink]="['/products']">New York</a></li></td>
                                      </tr>
                                      <tr>
                                              <td><li><a [routerLink]="['/products']">New Jersey</a></li></td>
                                              <td><li><a [routerLink]="['/products']">Delaware</a></li></td>
                                              
                                              </tr>
                                              <tr>
                                                      <td><li><a [routerLink]="['/products']">Maryland</a></li></td>	
                                                  <td><li><a [routerLink]="['/products']">Virginia</a></li></td>
                                                      
                                                      </tr>
                                                      <tr>
                                                              <td><li><a [routerLink]="['/products']">North Carolina</a></li></td>	
                                                              <td><li><a [routerLink]="['/products']">South Carolinas</a></li></td>
                                                              </tr>
                                                              <tr>
                                                                      <td><li><a [routerLink]="['/products']">Georgia</a></li></td>
                                                                      <td><li><a [routerLink]="['/products']">Florida</a></li></td>
                                                                      
                                                                      </tr>


                               </table>
                              </ul>
                              <img class="cremlino-quadro hidden-xs hidden-sm" data-bottom-top="opacity: 0; top: 150px;" data-center-top="opacity: 1; top:0" src="assets/images/usflag.jpg" alt="USA" width="400" height="470">
              </div>
              </div>
                  </div>
              </div>
              </div>
              
          </div>
  
      </div>
  
  
  </section>
  <div class="row">
      <div class="category2  col-lg-12">
              
                      <div class="category-container">
                  
                      <h5 class="usafeat">USA Featured Auctions</h5>
                  <!--/.category-content -->
                      </div><!--/.category-container -->
  </div><!--/.category-->
  </div>
<section>
<div class="container">
    
    
      <div class="row">
                
          <div class="col-sm-3">
       <article class="auction-list news">		   
      <header class="auction-header">
      <time class="published" datetime="2014-07-01T10:20:11+00:00">12<span class="mese">Apr 2018 </span></time>
      <h4><a href="http://showmeauctions.com/">
      Husqee.com		
      </a></h4> <span class="auciontype">
          On-Line</span>
      </header>		   
        
       <div class="art-links">
                 <a href="http://showmeauctiosn.com/">
                   
                   <span class="icon-open icon"></span>
                   <span class="link-label">Read more</span>
                   
                 </a>   
        </div>
       
       
       
       <img width="360" height="180" src="assets/images/antpic1500b.jpg" class="img-responsive visible-xs wp-post-image" alt="Featured Auction" srcset="assets/images/ant360x180.jpg 360w, assets/images/ant1140x570.jpg 1140w" sizes="(max-width: 360px) 100vw, 360px"><img width="360" height="360" src="assets/images/361.png" class="img-responsive hidden-xs wp-post-image" alt="Featured Auction" srcset="assets/images/361.png" sizes="(max-width: 360px) 100vw, 360px"> 	 
           
        
      </article>		   			
    </div>			
            
          <div class="col-sm-3">
       <article class="auction-list news">		   
      <header class="auction-header">
      <time class="published" datetime="2014-02-20T12:59:36+00:00">15<span class="mese">Feb 2018</span></time>
      <h4><a href="http://showmeauction.com/">
      Husqee.com		
      </a></h4> <span class="auciontype">
          On-Line</span>
      </header>		   
        
       <div class="art-links">
                 <a href="http://showmeauction.com/">
                   
                   <span class="icon-open icon"></span>
                   <span class="link-label">Read more</span>
                   
                 </a>   
        </div>
       
       
       
       <img width="360" height="180" src="assets/images/antpic1500b.jpg" class="img-responsive visible-xs wp-post-image" alt="Featured Auction" srcset="assets/images/anti360x180.jpg 360w, assets/images/anti1140x570.jpg 1140w" sizes="(max-width: 360px) 100vw, 360px"><img width="360" height="360" src="assets/images/362.png" class="img-responsive hidden-xs wp-post-image" alt="Featued Auction" srcset="assets/images/362.png" sizes="(max-width: 360px) 100vw, 360px"> 	 
           
        
      </article>		   			
    </div>			
            
          <div class="col-sm-3">
       <article class="auction-list news">		   
      <header class="auction-header">
      <time class="published" datetime="2014-01-20T10:12:05+00:00">08<span class="mese">Mar 2018 </span></time>
      <h4><a href="http://showmeauction.com/">
      Husqee.com 	
      </a></h4><span class="auciontype">
          On-Line</span>
      </header>		   
        
       <div class="art-links">
                 <a href="http://showmeauction.com/">
                   
                   <span class="icon-open icon"></span>
                   <span class="link-label">Read more</span>
                   
                 </a>   
        </div>
       
       
       
       <img width="360" height="180" src="assets/images/antpic1500b.jpg" class="img-responsive visible-xs wp-post-image" alt="ShowMeAuctions.com" srcset="assets/images/antic360x180.jpg 360w, assets/images/antic1140x570.jpg 1140w" sizes="(max-width: 360px) 100vw, 360px"><img width="360" height="360" src="assets/images/363.png" class="img-responsive hidden-xs wp-post-image" alt="ShowMeAuctions.com" srcset="assets/images/363.png" sizes="(max-width: 360px) 100vw, 360px"> 	 
           
        
      </article>		   			
    </div>
    <div class="col-sm-3">
      <article class="auction-list news">		   
     <header class="auction-header">
     <time class="published" datetime="2014-07-01T10:20:11+00:00">12<span class="mese">Apr 2018 </span></time>
     <h4><a href="http://showmeauctions.com/">
     Husqee.com		
     </a></h4> <span class="auciontype">
         On-Line</span>
     </header>		   
       
      <div class="art-links">
                <a href="http://showmeauctiosn.com/">
                  
                  <span class="icon-open icon"></span>
                  <span class="link-label">Read more</span>
                  
                </a>   
       </div>
      
      
      
      <img width="360" height="180" src="assets/images/antpic1500b.jpg" class="img-responsive visible-xs wp-post-image" alt="Featured Auction" srcset="assets/images/ant360x180.jpg 360w, assets/images/ant1140x570.jpg 1140w" sizes="(max-width: 360px) 100vw, 360px"><img width="360" height="360" src="assets/images/361.png" class="img-responsive hidden-xs wp-post-image" alt="Featured Auction" srcset="assets/images/361.png" sizes="(max-width: 360px) 100vw, 360px"> 	 
          
       
     </article>		   			
   </div>					
          </div>
    </div>


</section>


  <section id="cremlino" class="carousel slide tab-slide fullscreen">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
       
      
       <img class="visible-xs visible-sm" src="assets/images/antiqu1500.png" alt="ShowMeAuctions.com" width="1137" height="600">
       <img class="visible-md visible-lg" src="assets/images/antiqu1400.png" alt="ShowMeAuctions.com" width="1400" height="729">
      
        <div class="tab-slide-caption">
        <div class="container">
        <div class="row">
        <div class="col-md-6">
        <div class="annullaskew">
          <h3>Canada's best auctions</h3>
            <ul class="canbest">
            <table class="table table-condensed">
                  <tr>
                  <td><li><a [routerLink]="['/products']">Ontario</a></li></td>
                  <td> <li><a [routerLink]="['/products']">Quebec</a></li></td>
                  </tr>
                  <tr>
                  <td><li><a [routerLink]="['/products']">Nova Scotia</a></li></td>
                  <td><li><a [routerLink]="['/products']">New Brunswick</a></li></td>
                  </tr>
                  <tr>
                          <td> <li><a [routerLink]="['/products']">Manitoba</a></li></td>
                          <td><li><a [routerLink]="['/products']">British Colombia</a></li></td>
                          </tr>
                          <tr>
                                  <td> <li><a [routerLink]="['/products']">PEI</a></li></td>
                                  <td> <li><a [routerLink]="['/products']">Saskatchewan</a></li></td>
                                  
                                  </tr>
                                  <tr>
                                          <td> <li><a [routerLink]="['/products']">Alberta</a></li></td>	
                                      <td> <li><a [routerLink]="['/products']">Newfoundland and Labrador</a></li></td>
                                          
                                          </tr>
                                          <tr>
                                                  <td> <li><a [routerLink]="['/products']">NW Territories</a></li></td>	
                                                  <td><li><a [routerLink]="['/products']">Yukon</a></li></td>
                                                  </tr>
                                                  <tr>
                                                          <td> <li><a [routerLink]="['/products']">Nunavut</a></li></td>
                                                          <td></td>
                                                          
                                                          </tr>


                   </table>
                   </ul>
                   <img class="cremlino-quadro hidden-xs hidden-sm" data-bottom-top="opacity: 0; top: 150px;" data-center-top="opacity: 1; top:0" src="assets/images/canflag.png" alt="ShowMeAuctions.com" width="400" height="470" style="">
      
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
      </div>
      </section>
      <div class="row">
          <div class="category2  col-lg-12">
                  
                          <div class="category-container">
                      
                          <h5 class="canfeat">Canada Featured Auctions</h5>
                      <!--/.category-content -->
                          </div><!--/.category-container -->
      </div><!--/.category-->
      </div>
<section>
<div class="container">
    
    
      <div class="row">
                
          <div class="col-sm-3">
              <article class="auction-list news">		   
             <header class="auction-header">
             <time class="published" datetime="2014-07-01T10:20:11+00:00">12<span class="mese">Apr 2018 </span></time>
             <h4><a href="http://showmeauctions.com/">
             Husqee.com		
             </a></h4> <span class="auciontype">
                 On-Line</span>
             </header>		   
               
              <div class="art-links">
                        <a href="http://showmeauctiosn.com/">
                          
                          <span class="icon-open icon"></span>
                          <span class="link-label">Read more</span>
                          
                        </a>   
               </div>
              
              
              
              <img width="360" height="180" src="assets/images/antpic1500b.jpg" class="img-responsive visible-xs wp-post-image" alt="Featured Auction" srcset="assets/images/ant360x180.jpg 360w, assets/images/ant1140x570.jpg 1140w" sizes="(max-width: 360px) 100vw, 360px"><img width="360" height="360" src="assets/images/361.png" class="img-responsive hidden-xs wp-post-image" alt="Featured Auction" srcset="assets/images/361.png" sizes="(max-width: 360px) 100vw, 360px"> 	 
                  
               
             </article>		   			
           </div>			
                   
                 <div class="col-sm-3">
              <article class="auction-list news">		   
             <header class="auction-header">
             <time class="published" datetime="2014-02-20T12:59:36+00:00">15<span class="mese">Feb 2018</span></time>
             <h4><a href="http://showmeauction.com/">
             Husqee.com		
             </a></h4> <span class="auciontype">
                 On-Line</span>
             </header>		   
               
              <div class="art-links">
                        <a href="http://showmeauction.com/">
                          
                          <span class="icon-open icon"></span>
                          <span class="link-label">Read more</span>
                          
                        </a>   
               </div>
              
              
              
              <img width="360" height="180" src="assets/images/antpic1500b.jpg" class="img-responsive visible-xs wp-post-image" alt="Featured Auction" srcset="assets/images/anti360x180.jpg 360w, assets/images/anti1140x570.jpg 1140w" sizes="(max-width: 360px) 100vw, 360px"><img width="360" height="360" src="assets/images/362.png" class="img-responsive hidden-xs wp-post-image" alt="Featued Auction" srcset="assets/images/362.png" sizes="(max-width: 360px) 100vw, 360px"> 	 
                  
               
             </article>		   			
           </div>			
                   
                 <div class="col-sm-3">
              <article class="auction-list news">		   
             <header class="auction-header">
             <time class="published" datetime="2014-01-20T10:12:05+00:00">08<span class="mese">Mar 2018 </span></time>
             <h4><a href="http://showmeauction.com/">
             Husqee.com 	
             </a></h4><span class="auciontype">
                 On-Line</span>
             </header>		   
               
              <div class="art-links">
                        <a href="http://showmeauction.com/">
                          
                          <span class="icon-open icon"></span>
                          <span class="link-label">Read more</span>
                          
                        </a>   
               </div>
              
              
              
              <img width="360" height="180" src="assets/images/antpic1500b.jpg" class="img-responsive visible-xs wp-post-image" alt="ShowMeAuctions.com" srcset="assets/images/antic360x180.jpg 360w, assets/images/antic1140x570.jpg 1140w" sizes="(max-width: 360px) 100vw, 360px"><img width="360" height="360" src="assets/images/363.png" class="img-responsive hidden-xs wp-post-image" alt="ShowMeAuctions.com" srcset="assets/images/363.png" sizes="(max-width: 360px) 100vw, 360px"> 	 
                  
               
             </article>		   			
           </div>
           <div class="col-sm-3">
             <article class="auction-list news">		   
            <header class="auction-header">
            <time class="published" datetime="2014-07-01T10:20:11+00:00">12<span class="mese">Apr 2018 </span></time>
            <h4><a href="http://showmeauctions.com/">
            Husqee.com		
            </a></h4> <span class="auciontype">
                On-Line</span>
            </header>		   
              
             <div class="art-links">
                       <a href="http://showmeauctiosn.com/">
                         
                         <span class="icon-open icon"></span>
                         <span class="link-label">Read more</span>
                         
                       </a>   
              </div>
             
             
             
             <img width="360" height="180" src="assets/images/antpic1500b.jpg" class="img-responsive visible-xs wp-post-image" alt="Featured Auction" srcset="assets/images/ant360x180.jpg 360w, assets/images/ant1140x570.jpg 1140w" sizes="(max-width: 360px) 100vw, 360px"><img width="360" height="360" src="assets/images/361.png" class="img-responsive hidden-xs wp-post-image" alt="Featured Auction" srcset="assets/images/361.png" sizes="(max-width: 360px) 100vw, 360px"> 	 
                 
              
            </article>		   			
          </div>					
                 </div>
    </div>


</section>
   </main><!-- /.main -->
    </div><!-- /.wrap -->

